#define ENV_SSID "----"
#define ENV_SSID_PASSWORD "----

#define ENV_GIT_URL "https://api.github.com/repos/OTAREPO/releases/latest"

#define BIN_NAME "test.bin"
#define BOT_TOKEN "token"
#define BOT_SEND_URL "https://api.telegram.org/token/sendMessage"
#define CHAT_ID "****"
#define GPRS_APN "apn"
#define GPRS_USER ""
#define GPRS_PASS ""
#define BIN_ALT_URL "s3 bucket url"

#define PROXY_URL "http proxy url"

#define PROXY_URL_GSM "http proxy url"

#define DEBUG_BOT_URL "https://api.telegram.org/token/sendMessage"
#define DEBUG_CHAT_ID "****"

#define DEBUG